<div style="width: 80%" class="container-fluid">
    <div class="col-md-4"></div>
        <div style="margin-top: 80px;" class="col-md-6">
            <div class="title_recent_login" ng-show="!user">
                <dl>
                    <h7 style="margin-top: 25px;margin-right: 10px">找回密码</h7>
                        <div>

                </dl>
                <dl>
                    <input class="input" style="margin-top:10px; width:300px;" ng-model="search.email" type="text" placeholder="邮箱">
                </dl>
              
              
                <dl style="padding-left:0px;">
                    <button class="btn btn-primary btn-block" ng-click="findPassword()">发送</button>
                </dl>


                </div>
            </div>