<div style="width: 80%" class="container">
    <div class="login">
        <div class="login-screen login-screen-padding">
            <div class="login-form">
                <div class="control-group">
                    <input type="text" class="login-field  login_input" ng-model="search.username" placeholder="Enter your name" id="login-name">
                    <label class="login-field-icon fui-user" for="login-name"></label>
                </div>
                 <div class="control-group">
                    <input type="password" class="login-field login_input" ng-model="search.password" placeholder="Password" id="login-pass">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>                  
                </div>
                <button type="text" class="btn btn-primary btn-large btn-block" ng-click="login()">Login</button>
                <a class="login-link" href="#">Lost your passeord?</a>
            </div>
        </div>
    </div>
</div>