<div id="contain" class="container">
<h5>{{blog.title}}</h5>
  <div class="collapse navbar-collapse" id="navbar-collapse-5">
 <ul class="nav navbar-nav">
            <li><a href="" ng-click="delete()">删除</a></li>
            <li><a href="#/updateBlog/{{_id}}">更新</a></li>
            <li><a href="#">标签</a></li>
            <li ><a>作者: Tim</a></li>
            <li ><a>发布时间: {{blog.createdAt | date: "yyyy-MM-dd"}}</a></li>
           </ul>
  </div>
<hr>
<p ng-bind-html="blog.content | trust"></p>

<button type="button" ng-click="goBack()" class="btn btn-primary"><< 返回</button>
</div>
       
<uib-pagination total-items="totalItems" ng-model="currentPage" force-ellipses="true" max-size="10"
                items-per-page="pageSize"
                class="pagination-sm" boundary-link-numbers="true" previous-text="&lsaquo;" next-text="&rsaquo;"
                first-text="&laquo;" last-text="&raquo;"
                boundary-links="true" ng-change="query()"></uib-pagination>
