<div  id="contain" class="container-fluid">
	<div class="row clearfix">
		<div class="col-md-8 col-xs-12">
			<div class="blog container-fluid  view-container" ng-repeat="blog in blogs">
				<h6>
					<a href="#/blogDetail/{{blog._id}}/1">{{blog.title}}</a>
				</h6>
				<small class="blog-small">标签: </small><a ng-click="getLable(this.label)" href="" ng-repeat="label in blog.labels" class="label label-success blog-lable">{{label}}</a>
				<small class="blog-small">发表日期: </small><span style="font-size: 12px">{{blog.createdAt | date:'yyyy-MM-dd'}}</span>
				<p ng-bind-html="blog.content | trust"></p>
				<p>
					<a class="btn" href="#/blogDetail/{{blog._id}}/1">more »</a>
				</p>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="me">
				<dl>
					<dt>
						<img src="/images/me.jpg" class="blog-me">
						<h6 class="me_name">
							<a href="#">刘祖宽</a>
						</h6>
					</dt>
					<dt class="me_intro">
						<h7>职位: super_root</h7><br>
						<h7>擅长: <span class="label label-success " style="margin-right: 10px">nodejs</span><span class="label label-success ">mongodb</span></h7>
						<br>
						<h7>发表: {{blog_count}}</h7>
					</dt>
				</dl>

			</div>


			<div class="title_recent" style="margin-top: 15px">
				<div class="input-group">
					<input type="text" ng-model="search.title" class="form-control input-lg"><span ng-click="getBlogList()"  class="input-group-addon btn btn-primary">搜索</span>
				</div>
			</div>
			
			<div class="title_recent">
				<div class="panel_head">
				<h4>
					<label>blog列表</label>
				</h4>
				</div>
				<dl>
					<dt ng-repeat="blog in blogs">
						<a href="#/blogDetail/{{blog._id}}/1">{{blog.title}}</a>
					</dt>
				</dl>
			</div>
           
		   <div class="title_recent">
			   	<div class="panel_head">
				<h4>
					<label>存档</label>
				</h4>
				</div>
				<dl>
					<dt ng-repeat="blog in blogList">
						<a href="" ng-click="searchByMonth(this.blog._id.year,this.blog._id.month)">{{blog.time}}</a>({{blog.sum}})
					</dt>
				</dl>
		   </div>
			

		</div>
		
	</div>

	<uib-pagination total-items="totalItems" ng-model="currentPage" force-ellipses="true" max-size="10" items-per-page="pageSize"
		class="pagination-sm" boundary-link-numbers="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
		boundary-links="true" ng-change="getBlogList()"></uib-pagination>
</div>